
      <div class="jumbotron">
        <h2>About</h2>
      </div>

        <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <%= link_to image_tag("wheel.png"), new_driver_path() %>
        </div>

        <div class="span6">
          <%= link_to image_tag("rider.png", :style => ":hover{background:none;}"), new_rider_path() %>
        </div>
      </div>
