
      <div class="jumbotron">
        <h2>Contact</h2>
        <p class="lead">STUFF STUFF STUFF STUFF STUFF</p>

        <hr class="show">

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>No registration required</h4>
          <p>Create your event in seconds to make carpools the effortless part of your event.</p>
        </div>

        <div class="span6">
          <h4>Driver or Rider?</h4>
          <p>Just enter your name either as a driver or a rider and you're done!</p>
        </div>
      </div>
