
      <div class="jumbotron">
        <h2>Easy Carpooling</h2>
        <p class="lead">Quickly and easily figure out who you're riding with.</p>
        <a class="btn btn-large btn-success" href="#">Sign up today</a>
      </div>