<div class="jumbotron">
  <h2>Easy Carpooling</h2>
  <p class="lead">Ever tried organizing a carpool? It's a ton of work! Let us handle everything for you so you can focus on where you're going.</p>
  <p class="show row pull-right">
  	<%= link_to "Create an Event", '#', {:class => 'btn btn-large btn-success', :id => 'newEventButton'} %>

     <% ## new_event_path()  was the original address## %>


  	<!--<a class="btn btn-large btn-success" href="#">Create an Event</a>--></p>
</div>
  <br/><br/><br/>
  <hr class="show">

  <div id="newEventForm">
    <%= render :partial => '/events/new' %>
  </div>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>No registration required</h4>
    <p>Create your event in seconds and make carpools the effortless part of your event.</p>
  </div>

  <div class="span6">
    <h4>Driver or Rider?</h4>
    <p>Just enter your name either as a driver or a rider and you're done!</p>
  </div>
</div>

<script>
$("#newEventButton").click(function () {
  $("#newEventForm").slideToggle();

  $('html, body').animate({
      scrollTop: $("#newEventForm").offset().top
  }, 2000);

});
</script>