// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	.driver, .rider, .ghostRider{
		display:block;
	}
	.rider, .ghostRider{
		padding:20px;
		margin:10px 0;
	}
	.rider{
		margin-left:25px;
		background: #999999;
	}
	.ghostRider{
		background: #333333;
		min-height:25px;
	}
	.driver{
		width:300px;
		background:#440000;
		padding:5px;
		min-height:25px;
	}