// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	
	.driver, .rider, .ghostRider{
		display:block;
    	list-style-type: none;
	}
	.rider, .ghostRider{
		padding:15px;
		margin:5px 0;
		margin-left:15px;
	}
	.rider{
		background:#1d3555;
		color:#fff;
	}
	.ghostRider{
		min-height:15px;
		background-color:rgba(29,53,85,.5);
	}
	.driver{
		background-image: image-url("carbackground.png");
		background-repeat: no-repeat;
		width:300px;
		padding:5px;
		margin:5px;
		float:left;
		min-height:100px;
		padding-bottom:50px;
	}
	.headrider{
		padding-top:27px;
		padding-left:41px;
		padding-right:0;
		padding-bottom:20px;
		margin:5px 0;
		margin-left:10px;
		font-size:2em;
		font-weight:bold;
	}